.profile-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.elo-change {
  font-weight: bold;
  margin-left: 8px;
}

.elo-change.up {
  color: #139986;
}

.elo-change.down {
  color: #E5484D;
}
