.progress-bar-container {
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress-bar-fill {
  height: 100%;
  color: white;
  text-align: center;
  line-height: 20px; /* centre verticalement le texte */
  white-space: nowrap;
}
